<article class="single {{post_class}}">
    <header class="single-header kg-canvas">
        {{#is "post"}}
            <div class="single-meta">
                <span class="single-meta-item single-meta-date">
                    <time datetime="{{date format="YYYY-MM-DD"}}">
                        {{date published_at}}
                    </time>
                </span>

                <span class="single-meta-item single-meta-length">
                    {{reading_time}}
                </span>

                {{#primary_tag}}
                    <span class="single-meta-item single-meta-tag">
                        <a class="post-tag post-tag-{{slug}}" href="{{url}}">{{name}}</a>
                    </span>
                {{/primary_tag}}
            </div>
        {{/is}}

        <h1 class="single-title">{{title}}</h1>

        {{#if custom_excerpt}}
            <div class="single-excerpt">
                {{custom_excerpt}}
            </div>
        {{/if}}

        {{#if feature_image}}
            {{#unless no_image}}
                <figure class="single-media kg-width-{{width}}">
                    <img srcset="{{> srcset}}" sizes="(min-width: 1023px) 920px, calc(90vw)" src="{{img_url feature_image size="l"}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}">
                    {{#if feature_image_caption}}
                        <figcaption>{{feature_image_caption}}</figcaption>
                    {{/if}}
                </figure>
            {{/unless}}
        {{/if}}
    </header>

    <div class="single-content kg-canvas u-text-format">
        {{content}}
    </div>

    {{#is "post"}}
        {{#unless @member}}
            <div class="cover-content container">
                <form class="form-wrapper cover-form" data-members-form="" _lpchecked="1">
                    <input class="auth-email" type="email" data-members-email="" placeholder="Your email address" required="true" autocomplete="false">
                    <button class="form-button" type="submit" aria-label="Submit">
                        <span class="default">Subscribe</span>
                        <span class="loader">
                            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">
                                <path opacity="0.3" fill="currentColor" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946 s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634 c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"></path>
                                <path fill="currentColor" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0 C22.32,8.481,24.301,9.057,26.013,10.047z">
                                    <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 20 20" to="360 20 20" dur="0.5s" repeatCount="indefinite"></animateTransform>
                                </path>
                            </svg>
                        </span>
                        <span class="success">Email sent</span>
                    </button>
                </form>
            </div>
        {{/unless}}
        <footer class="single-footer container small">
            <div class="single-footer-left">
                {{#prev_post}}
                    <div class="navigation navigation-previous">
                        <a class="navigation-link" href="{{url}}" aria-label="Previous post">
                            <span class="navigation-icon">{{> icons/arrow-left}}</span>
                        </a>
                    </div>
                {{/prev_post}}
            </div>

            <div class="single-footer-middle">
                <div class="single-footer-top">
                    <div class="author-list">
                        {{#foreach authors}}
                            <a href="https://vedran.tech/contact/" title="{{name}}">
                                <h3 class="single-footer-title">{{name}}</h3>
                            </a>
                        {{/foreach}}
                    </div>
                </div>

                <div class="single-footer-bottom">
                    <h3 class="single-footer-title" style="text-align: center">Share on</h3>
                    <div class="share">
                        <a class="share-link share-link-facebook"
                            href="https://www.facebook.com/sharer.php?u={{url absolute="true"}}"
                            target="_blank" rel="noopener noreferrer">
                            Facebook
                        </a>
                        <a class="share-link share-link-twitter"
                            href="https://twitter.com/intent/tweet?url={{url absolute="true"}}&text={{encode title}}"
                            target="_blank" rel="noopener noreferrer">
                            Twitter
                        </a>
                        <a class="share-link share-link-linkedin"
                            href="https://www.linkedin.com/sharing/share-offsite/?url={{url absolute="true"}}"
                            target="_blank" rel="noopener noreferrer">
                            LinkedIn
                        </a>
                    </div>
                </div>
            </div>

            <div class="single-footer-right">
                {{#next_post}}
                    <div class="navigation navigation-next">
                        <a class="navigation-link" href="{{url}}" aria-label="Next post">
                            <span class="navigation-icon">{{> icons/arrow-right}}</span>
                        </a>
                    </div>
                {{/next_post}}
            </div>
        </footer>
    {{/is}}
</article>